{{ define "content" }}
<div class="column is-marginles has_background_primary_grey text_black column_height1">

  <div class="columns">
    <div class="column has_background_white box is-paddingless">
      <div class="green_line"></div>
      <h1 class="has-text-weight-semibold text_black startseite_text">Willkommen bei <b class="brain">Brain</b><span class="train">Train</span></h1>
      <h2 class="normal_text_middle text_black"><br>Hier haben sich <b>{{.Nutzer}} Nutzer</b> angemeldet und <br> zusammen <b>{{.Lernkarten}} Lernkarten</b> in <b>{{.Karteien}} Karteien</b> <br> erstellt</h1>

    </div>


  </div>
</div>
{{ end }}