{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>BrainTrain</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="favicons/favicon.ico">
  <link rel="stylesheet" href="css/overview.css">
</head>

<body>

  <!-- navigation -->

  <nav class="navbar is-transparent ">
    <div class="container has_background_primary_green">
      <div class="navbar-brand has_background_secondary_green is-marginless" style="width: 20%">
        <a class="navbar-item" href="out_startseite">
          <img src="logo/Logo.svg" />
          <h4 class="Logo_text"><span>Brain</span>Train</h4>
        </a>

      </div>

      <div id="navbarBrainTrain" class="navbar-menu is-marginless">
        <div class="navbar-start">
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <input class="input is-primary control navbar_element" type="text" placeholder="Nutzername">
            <input class="input is-primary control navbar_element" type="password" placeholder="Passwort">
            <a href="in_meine_karteikaesten" class="button is-warning navbar_element">Login</a>
            <a href="out_registrieren" class="button is-success navbar_element">Registrieren</a>

          </div>

        </div>

      </div>
    </div>

  </nav>
  <!-- /navigation -->

  <!--  MENU  -->
  <section class="container has_background_primary_blue">

    <div class="columns is-marginless text_color_white">
      <div class="column container is-one-fifth">
        <aside class="menu">
          <ul class="menu-list ">
            <li>
              <a href="out_startseite" class="text_white">
                <div class="columns">
                  <div class="column is-2"><img style="max-width: 20px;" src="icons/Home.svg" /></div>
                  <div class="column">
                    <p>Home</p>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="out_karteikaesten" class="text_white">
                <div class="columns">
                  <div class="column is-2"><img style="max-width: 20px;" src="icons/Karteikasten.svg" /></div>
                  <div class="column">
                    <p>Karteikästen</p>
                  </div>
                  <div class="column is-2"><span class="tag is-success">{{.Karteien}}</span></div>
                </div>
              </a>
            </li>


          </ul>
        </aside>
      </div>
      <!--  /MENU  -->
      {{ template "content" . }}

    </div>

  </section>





</body>

</html>
{{ end }}